body {
    font-family: Jost, Arial, Helvetica, sans-serif;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(images/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
    filter: blur(5px);
}

input,
select {
    border-radius: 8px;
}

form {
    border-radius: 8px;
    border: 2px solid black;
    max-width: 541.08px;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

/* #merchImage {
    display: flex;
    justify-content: center;
}

@media(max-width: 786px) {
    #merchImage {
        flex-direction: column;
        align-items: center;
    }

    #merchImage img {
        width: fit-content;
    }
}

#merchImage img {
    margin: 0 1.2rem;
    margin-bottom: 1.2rem;
    height: 45vh;
} */

.carousel button {
    position: absolute;
    top: 276.5px;
    border-radius: 100%;
    background-color: rgb(44, 44, 44);
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    border: none;
    color: rgb(255, 255, 255);
}

.carousel {
    width: 282px;
    height: 353px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel #carouselPrev {
    left: calc(50vw - 200px);
    visibility: hidden;
}

.carousel #carouselNext {
    right: calc(50vw - 200px);
}

.carousel .carouselImage {
    transition: 1s;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 2rem 0;
    margin: 0 1rem;
}

#confirmed {
    display: none;
    font-size: 5rem;
}

#labels label {
    display: block;
    height: 20px;
    padding-top: 10.2px;
}

#labels label:first-of-type {
    margin: 0;
    padding: 0;
    padding-top: 2.6px;
}

#labels {
    display: inline-block;
    margin-right: 8px;
}

#errorBoxes p {
    display: block;
    height: 20px;
    padding-top: 10.5px;
    user-select: none;
}

#errorBoxes p:first-of-type {
    margin: 0;
    padding: 0;
    padding-top: 2.6px;
}

#errorBoxes {
    display: none;
    color: white;
    margin-left: 8px;
}

@media(max-width:447.2px) {
    #labels {
        font-size: 0.8rem;
    }

    #errorBoxes {
        font-size: 0.8rem;
    }
}

#inputs {
    display: inline-block;
    margin-left: 8px;
}

#sizeSelector {
    display: flex;
    justify-content: space-between;
    width: 315.51px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#sizeSelector .size input {
    margin-right: 0px;
}

.box {
    height: 20px;
    max-width: 500px;
    padding-left: 5px;
    display: block;
    margin-bottom: 5px;
    border: 2px solid black;
}

.contents {
    display: flex;
    justify-content: center;
}

.tnc {
    text-align: center;
    padding-bottom: 15px;
}

.buttons {
    text-align: center;
}

.buttons input {
    height: 10mm;
    width: 20mm;
    border: none;
}

.buttons #submit {
    background-color: #5c92ff;
}

.buttons #submit:hover {
    transition:
        background-color 150ms,
        color 150ms,
        box-shadow 150ms;
    color: white;
    background-color: #0d5eff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons #reset {
    background-color: #ff6969;
}

.buttons #reset:hover {
    transition:
        background-color 150ms,
        color 150ms,
        box-shadow 150ms;
    ;
    color: white;
    background-color: #ff1f1f;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width: 786px) {
    .buttons #reset {
        color: white;
        background-color: #ff1f1f;
    }

    .buttons #submit {
        color: white;
        background-color: #0d5eff;
    }
}